/* MENU TRANSITIONS */
menu {
	-webkit-transition: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.2s ease;
	-webkit-transform: translateX(-180px);
}

menu.menu-opened {
	-webkit-transform: translateX(0px);
	-webkit-transform: translate3d(0px, 0, 0);
}

#stage {
	-webkit-transition: all 0.2s ease;
}

#stage.menu-opened {
	-webkit-transform: translateX(180px);
}