/* FASTGAP https://github.com/GustavoCostaW/FastGap */

/* CUSTOMIZE YOUR APP */

#menu ul li {
	color: #A02615;
	font-weight: bold;
}
#content {
	background: white;
	color: #A02615;
}
#content a {
	font-weight: bold;
	color: #A02615;
}
.title-page {
	font-size: 30px;
	color: #A02615;
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-left: 20px;
}
#internal-page {
	padding: 10px;
	padding-bottom: 20px;
}
.page-item {
	overflow: hidden;
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.page-item img {
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 60px;
	margin-left: 10px;
	margin-top: 10px;
}
#internal-page h1 {
	font: 5px"Source Sans", helvetica, arial, sans-serif;
	width: 100%;
	font-size: 25px;
	text-align: center;
}
.page-item p {
	margin-top: 10px;
	text-align: right;
	font-size: 16px;
}