/* CREATED BY @GUSTAVOCOSTAW */


/* GLOBAL SETTINGS */
* {
	margin:0;
	padding:0;
	list-style:none;

  	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
 	-webkit-tap-highlight-color: transparent; /* For some Androids */ 	
  	-webkit-user-select: none;   
}
body {
	width:100%;
	background: #4a4d4e;
	font:20px 'Trebuchet MS';
	overflow: hidden;
}
/* APP LOGO IMG */
header#header-app {
	width:100%;
	height:85px;
	text-align: center;
	background: #FFF url('../img/img-logo-fastergap.png') no-repeat center;
	position: absolute;
	top:0;
}
/* BOX LOAD PAGES */
#page {
	position:absolute;
	width:100%;
	height:100%;

	-webkit-transition: translate3d(0,0,0);
	transform: translate3d(0, 0, 0);
}
.title-page {
	font-size: 30px;
	color:#b8b9b9;
	padding-bottom: 20px;
	border-bottom:1px solid #ccc;
	padding-left:20px;
}
#content {
	width:100%;
	position: absolute;
	top:85px;
	left:0px;
	height:100%;
	color:#b8b9b9;
	overflow: hidden;
}
#content a {
	color:#b8b9b9;
}
#content, .page {
    -webkit-overflow-scrolling:touch;
}
/* MENU BUTTON */
#menu-button {
	top:5px;
	left:3px;
	position: absolute;
	z-index: 999;
	display: block;
	width:80px;
	color:white;
	height:70px;
	text-decoration: none;
	text-align: center;
	line-height: 37px;
	background: #345365;
	font-family: Comic;
	background: url('../img/back.png') no-repeat center;
}

/* MENU APP */
menu {
	position: absolute;
	top:0;
	left:0;
	width:180px;
}
/* INTERNAL PAGES */
.page {
	padding-bottom: 20px;
}
.space {
	padding:10px;
}
.page-item {
	overflow: hidden;
	margin-top:20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.page-item img{
	float:right;
	width:80px;
	height:80px;
	border-radius: 60px;
	margin-left: 10px;
	margin-top: 10px;
}
.page-item h1 {
	width:100%;
	font-size: 25px;
	text-align: center;
}
.page-item p {
	margin-top:10px;
	text-align: right;
	font-size: 16px;
}